<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dashboard - Puskesmas Pulogadung</title>
    <link rel="shortcut icon" href="../static/assets/img/logo.png" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../static/assets/css/feather.css">
    <link rel="stylesheet" href="../static/assets/css/custom.css">
</head>
<body>
<div class="main-wrapper">
    <header class="header header-fixed header-one header-space">
        <div class="container">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/index" class="navbar-brand logo">
                        <img src="../static/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/index" class="menu-logo">
                            <img src="../static/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <i class="fas fa-times"></i>
                        </a>
                    </div>
                    <!-- <ul class="main-nav-header"> -->
                        {% if user_type == 'admin' %}
                        <!-- <li> -->
                            <!-- <a href="/admin-register">Daftar Admin Baru</a> -->
                        <!-- </li> -->
                        {% endif %}
                    </ul>
                </div>
                <ul class="nav header-navbar-rht">
                    <li class="nav-item dropdown has-arrow logged-item">
                        <a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="user-img">
                                <img class="rounded-circle" src="../static/assets/img/{{ 'admins' if user_type == 'admin' else 'users' }}/{{ session['user_profile_picture'] }}" width="31" alt="profile" style="vertical-align: middle;">
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="user-header">
                                <div class="avatar avatar-sm">
                                    <img src="../static/assets/img/{{ 'admins' if user_type == 'admin' else 'users' }}/{{ session['user_profile_picture'] }}" alt="User Image" class="avatar-img rounded-circle">
                                </div>
                                <div class="user-text">
                                    <h6>{{ session['user_name'] }}</h6>
                                    <p class="text-muted mb-0">{{ session['user_email'] }}</p>
                                </div>
                            </div>
                            <a class="dropdown-item" href="/dashboard">Dashboard</a>
                            {% if user_type == 'admin' %}
                            <a class="dropdown-item" href="/admin-profile-settings">Pengaturan Admin</a>
                            {% else %}
                            <a class="dropdown-item" href="/classify">Klasifikasi</a>
                            <a class="dropdown-item" href="/user-profile-settings">Pengaturan User</a>
                            {% endif %}
                            <a class="dropdown-item" href="/logout">Keluar</a>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content">
        <div class="container" style="padding-top:50px">
            <div class="row">
                <div class="col-md-5 col-lg-4 col-xl-3 theiaStickySidebar">
                    <div class="theiaStickySidebar">
                        <div class="profile-sidebar">
                            <div class="widget-profile pro-widget-content">
                                <div class="profile-info-widget">
                                    <a href="#" class="booking-doc-img">
                                        <img src="../static/assets/img/{{ 'admins' if user_type == 'admin' else 'users' }}/{{ session['user_profile_picture'] }}" alt="User Image">
                                    </a>
                                    <div class="profile-det-info">
                                        <h3>{{ session['user_name'] }}</h3>
                                        <div class="patient-details">
                                            <h5 class="mb-0">{{ session['user_qualification'] }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-widget">
                                <nav class="dashboard-menu">
                                    <ul>
                                        <li class="active">
                                            <a href="/dashboard">
                                                <i class="fe fe-home"></i>
                                                <span>Dashboard</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/classify">
                                                <i class="fe fe-user"></i>
                                                <span>Klasifikasi</span>
                                            </a>
                                        </li>
                                        {% if user_type == 'admin' %}
                                        <li>
                                            <a href="/admin-profile-settings">
                                                <i class="fe fe-settings"></i>
                                                <span>Pengaturan Admin</span>
                                            </a>
                                        </li>
                                        {% else %}
                                        <li>
                                            <a href="/user-profile-settings">
                                                <i class="fe fe-settings"></i>
                                                <span>Pengaturan User</span>
                                            </a>
                                        </li>
                                        {% endif %}
                                        <li>
                                            <a href="/logout">
                                                <i class="fe fe-log-out"></i>
                                                <span>Keluar</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8 col-xl-9">
                    <div class="container-fluid">
                        <div class="page-header">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="page-title">Selamat datang, {{ session['user_name'] }}</h3>
                                    <ul class="breadcrumb"></ul>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-3 col-sm-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="dash-widget-icon text-primary border-primary">
                                                <img src="../static/assets/img/icon-03.png" class="img-fluid" alt="patient">
                                                <i class="fe fe-users"></i>
                                            </span>
                                            <div class="dash-count">
                                                <h3>{{ total_patients }}</h3>
                                            </div>
                                        </div>
                                        <div class="dash-widget-info">
                                            <h6 class="text-muted">Total Pasien</h6>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-primary w-50"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="dash-widget-icon text-danger border-danger">
                                                <img src="../static/assets/img/icon-02.png" class="img-fluid" alt="Patient">
                                                <i class="fe fe-money"></i>
                                            </span>
                                            <div class="dash-count">
                                                <h3>{{ total_rujukan }}</h3>
                                            </div>
                                        </div>
                                        <div class="dash-widget-info">
                                            <h6 class="text-muted">Pasien Rujukan</h6>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-danger w-50"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-sm-6 col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="dash-widget-header">
                                            <span class="dash-widget-icon text-warning border-warning">
                                                <img src="../static/assets/img/icon-01.png" class="img-fluid" alt="Patient">
                                                <i class="fe fe-folder"></i>
                                            </span>
                                            <div class="dash-count">
                                                <h3>{{ total_rawat_jalan }}</h3>
                                            </div>
                                        </div>
                                        <div class="dash-widget-info">
                                            <h6 class="text-muted">Rawat Jalan</h6>
                                            <div class="progress progress-sm">
                                                <div class="progress-bar bg-warning w-50"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tabel Data Patients -->
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Data Pasien</h4>
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Nama</th>
                                                        <th>Haematocrit</th>
                                                        <th>Haemoglobins</th>
                                                        <th>Erythrocyte</th>
                                                        <th>Leucocyte</th>
                                                        <th>Thrombocyte</th>
                                                        <th>Mch</th>
                                                        <th>Mchc</th>
                                                        <th>Mcv</th>
                                                        <th>Umur</th>
                                                        <th>Jenis Kelamin</th>
                                                        <th>Hasil Klasifikasi</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for patient in patients %}
                                                    <tr>
                                                        <td>{{ patient['nama'] }}</td>
                                                        <td>{{ patient['haematocrit'] }}</td>
                                                        <td>{{ patient['haemoglobins'] }}</td>
                                                        <td>{{ patient['erythrocyte'] }}</td>
                                                        <td>{{ patient['leucocyte'] }}</td>
                                                        <td>{{ patient['thrombocyte'] }}</td>
                                                        <td>{{ patient['mch'] }}</td>
                                                        <td>{{ patient['mchc'] }}</td>
                                                        <td>{{ patient['mcv'] }}</td>
                                                        <td>{{ patient['umur'] }}</td>
                                                        <td>{{ patient['jenis_kelamin'] }}</td>
                                                        <td>{{ patient['hasil_klasifikasi'] }}</td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Akhir Tabel Data Patients -->
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="../static/assets/js/jquery-3.6.0.min.js"></script>
<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/js/feather.min.js"></script>
<script src="../static/assets/plugins/theia-sticky-sidebar/ResizeSensor.js"></script>
<script src="../static/assets/plugins/theia-sticky-sidebar/theia-sticky-sidebar.js"></script>
<script src="../static/assets/js/script.js"></script>
</body>
</html>
