<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <title>Lupa Password - Sistem Klasifikasi Rekomendasi Perawatan</title>
    
    <link rel="shortcut icon" href="../static/assets/img/logo.png" type="image/x-icon">
    
    <!-- -------------------- social icons ----------------------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="../static/assets/plugins/fontawesome/css/all.min.css">
    
    <link rel="stylesheet" href="../static/assets/css/feather.css">
    
    <link rel="stylesheet" href="../static/assets/css/custom.css">
</head>
<body class="login-body">
<div class="main-wrapper">
    <header class="header header-fixed header-one header-space">
        <div class="container">
            <nav class="navbar navbar-expand-lg header-nav">
                <div class="navbar-header">
                    <a id="mobile_btn" href="javascript:void(0);">
                        <span class="bar-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </a>
                    <a href="/" class="navbar-brand logo">
                        <img src="../static/assets/img/logo.png" class="img-fluid" alt="Logo">
                    </a>
                </div>
                <div class="main-menu-wrapper">
                    <div class="menu-header">
                        <a href="/index" class="menu-logo">
                            <img src="../static/assets/img/logo.png" class="img-fluid" alt="Logo">
                        </a>
                        <a id="menu_close" class="menu-close" href="javascript:void(0);">
                            <svg class="svg-inline--fa fa-times fa-w-11" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="times" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 352 512" data-fa-i2svg="">
                                <path fill="currentColor" d="M242.72 256l100.07-100.07c12.28-12.28 12.28-32.19 0-44.48l-22.24-22.24c-12.28-12.28-32.19-12.28-44.48 0L176 189.28 75.93 89.21c-12.28-12.28-32.19-12.28-44.48 0L9.21 111.45c-12.28 12.28-12.28 32.19 0 44.48L109.28 256 9.21 356.07c-12.28 12.28-12.28 32.19 0 44.48l22.24 22.24c12.28 12.28 32.2 12.28 44.48 0L176 322.72l100.07 100.07c12.28 12.28 32.2 12.28 44.48 0l22.24-22.24c12.28-12.28 12.28-32.19 0-44.48L242.72 256z"></path>
                            </svg>
                        </a>
                    </div>
                    <ul class="main-nav">
                        <li class="active"><a href="/">Home</a></li>
                        <li><a href="/terms-condition">Syarat & Ketentuan</a></li>
                        <li class="phone_login"><a href="/login">Masuk</a></li>
                        <li class="register-btn"><a href="/login" class="btn btn-primary log-btn"><i class="feather-lock"></i>Login</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <div class="login-content-info">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-6">
                    <div class="account-content">
                        <div class="login-shapes">
                            <div class="shape-img-left"><img src="../static/assets/img/shape-01.png" alt=""></div>
                            <div class="shape-img-right"><img src="../static/assets/img/shape-02.png" alt=""></div>
                        </div>
                        <div class="account-info sign">
                            <div class="login-back"><a href="/"><i class="fa-solid fa-arrow-left-long"></i> Kembali</a></div>
                            <div class="login-title">
                                <h3>Lupa Password</h3>
                                <p>Masukkan email Anda untuk mengatur ulang password.</p>
                                {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    <div class="error-message" style="padding-top:12px">
                                        {% for category, message in messages %}
                                            <div class="{{ category }}">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {% endwith %}
                            </div>
                            <form action="/forgot-password" method="POST">
                                <div class="form-group">
                                    <label for="email">E-mail</label>
                                    <input type="email" id="email" class="form-control" name="email" placeholder="contoh@email.com" required>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block" type="submit">Kirim Link Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/assets/js/jquery-3.6.4.min.js"></script>
<script src="../static/assets/js/slick.js"></script>
<script src="../static/assets/js/bootstrap.bundle.min.js"></script>
<script src="../static/assets/js/feather.min.js"></script>
<script src="../static/assets/js/script.js"></script>
</body>
</html>
