<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Pasien</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'sidebar.html' %}
    <div class="content">
        <h1>Data Pasien</h1>
        <div class="container">
            <table>
                <thead>
                    <tr>
                        <th>Nama</th>
                        <th>HAEMATOCRIT</th>
                        <th>HAEMOGLOBINS</th>
                        <th>ERYTHROCYTE</th>
                        <th>LEUCOCYTE</th>
                        <th>THROMBOCYTE</th>
                        <th>MCH</th>
                        <th>MCHC</th>
                        <th>MCV</th>
                        <th>UMUR</th>
                        <th>JENIS KELAMIN</th>
                        <th>Hasil</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, row in patients_df.iterrows() %}
                        <tr>
                            <td>{{ row['Nama'] }}</td>
                            <td>{{ row['HAEMATOCRIT'] }}</td>
                            <td>{{ row['HAEMOGLOBINS'] }}</td>
                            <td>{{ row['ERYTHROCYTE'] }}</td>
                            <td>{{ row['LEUCOCYTE'] }}</td>
                            <td>{{ row['THROMBOCYTE'] }}</td>
                            <td>{{ row['MCH'] }}</td>
                            <td>{{ row['MCHC'] }}</td>
                            <td>{{ row['MCV'] }}</td>
                            <td>{{ row['UMUR'] }}</td>
                            <td>{{ 'Laki-laki' if row['JENIS_KELAMIN'] == 0 else 'Perempuan' }}</td>
                            <td>{{ row['Hasil'] }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
