<body>
    {% include 'sidebar.html' %}
    <div class="content">
        <h1>Klasifikasi Pasien</h1>
        <div class="container">
            <form method="POST">
                <label for="nama">Nama:</label>
                <input type="text" id="nama" name="nama" required><br>
                <label for="haematocrit">Haematocric:</label>
                <input type="text" id="haematocrit" name="haematocrit" required><br>
                <label for="haemoglobins">Haemoglobins:</label>
                <input type="text" id="haemoglobins" name="haemoglobins" required><br>
                <label for="erythrocyte">Erythrocyte:</label>
                <input type="text" id="erythrocyte" name="erythrocyte" required><br>
                <label for="leucocyte">Leucocyte:</label>
                <input type="text" id="leucocyte" name="leucocyte" required><br>
                <label for="thrombocyte">Thrombocyte:</label>
                <input type="text" id="thrombocyte" name="thrombocyte" required><br>
                <label for="mch">Mch:</label>
                <input type="text" id="mch" name="mch" required><br>
                <label for="mchc">Mchc:</label>
                <input type="text" id="mchc" name="mchc" required><br>
                <label for="mcv">Mcv:</label>
                <input type="text" id="mcv" name="mcv" required><br>
                <label for="umur">Umur:</label>
                <input type="text" id="umur" name="umur" required><br>
                <label for="jenis_kelamin">Jenis Kelamin:</label>
                <select id="jenis_kelamin" name="jenis_kelamin" required>
                    <option value="0">Laki-laki</option>
                    <option value="1">Perempuan</option>
                </select>
                <br>
                <button type="submit">Klasifikasi</button>
            </form>
            {% if result_rf %}
                <h2>Hasil Klasifikasi</h2>
                <p>Hasil rekomendasi perawatan pasien:</p>
                <p>Random Forest: {{ result_rf }}</p>
            {% endif %}
        </div>
    </div>